@import "./styles/layout.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .debug {
    @apply border-4 border-red-500;
  }
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  min-height: 64px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
